.emotes{
    display: flex;
    flex-direction: column; 
}

.emotes-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.emotes-button{
    display: grid;
    grid-template-columns: auto auto auto;
}

.emote-button{
    background-color:#dfdfdf;
    padding: 10px;
    border: 1px solid #b1b1b1;
    margin: 2px;
    border-radius: 7px;
    width: 127px;
    height: 127px;
}

.emote-button img{
    max-width: 105px;
    max-height: 105px;
}